<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h3>Jobs:</h3>
      {{#each data}}
        <p>{{this.professione}}</p>
      {{/each}}
    </div>

    {{> footer}}
  </body>
</html>