ul {
  list-style-type: none;
}

img {
  width: 60px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: rgb(97, 126, 117);
}

.links__Navbar {
  display: flex;
  gap: 30px;
}

.links__Navbar a {
  color: rgb(241, 228, 228);
}
