<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>{{#each articles.articoli}}
        <div>{{this.descrizione}}
          {{this.prezzo}}
          <span>Taglie Disponibili: {{this.taglie_disponibili}}</span>
        </div>{{/each}}
    </h3>
  </body>
</html>